{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<section
  class="max-w-xl mt-14 p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800"
>
  <h2
    class="text-2xl text-center font-semibold text-gray-700 capitalize dark:text-white"
  >
    Sign Up
  </h2>

  <div class="w-full">
    <div class="gap-6 mt-4 flex flex-col w-full">
      <form action="" method="post" class="w-full flex flex-col gap-4">
        {% csrf_token %} {{form|crispy}}
        <button
          class="text-center px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-blue-700 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-gray-600y"
        >
          Submit
        </button>
        <a
          href="{% url 'password_reset' %}"
          class="text-center px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600"
          role="button"
          >Password reset</a
        >
      </form>
    </div>
  </div>
</section>
{% endblock content %}
