{% extends 'base.html' %} {% block content %}
<h2>Asosiy sahifa</h2>
{% if user.is_authenticated %}
<h1>{{user.username | title}}</h1>
<p>saytga hush kelibsiz!</p>
<a href="{% url 'article_list' %}">articles</a>
<a href="{% url 'article_new' %}">New post</a>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button>Logout</button>
</form>
{% else %}
<h2>Siz ro'yxatdan o'tmagansiz</h2>
<p>
  <a href="{% url 'login' %}">Log In</a>
  <a href="{% url 'signup' %}">Sign Up</a>
</p>
{% endif %} {% endblock content %}
