{% extends 'base.html' %} {% block content %}
<h1>Asosiy sahifa</h1>
<a role="button" href="{% url 'article_list' %}" class="btn btn-primary"
  >Articles</a
>
{% if user.is_authenticated %}
<h1>{{user.username | title }}</h1>
<br />
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button>Log Out</button>
</form>
{% else %}
<h2>Siz ro'yxatdan o'tmagansiz</h2>
<hr />
<a href="{% url 'login' %}">Log In</a>
<br />
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %} {% endblock content %}
