{% extends 'base.html' %} {% block content %}
<h1>Asosiy sahifa</h1>
{% if user.is_authenticated %}
<div class="w-100 text-center">
  <h1>Wellcome {{user.username | title}}</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates porro
    nisi perspiciatis voluptas laborum soluta quisquam labore ex eius
    praesentium odio aperiam nulla quos perferendis possimus, in unde officiis!
    Provident.
  </p>
</div>
{% else %}
<p>Siz ro`yxatdan o`tmagansiz</p>
<p>
  <a href="{% url 'login' %}">Kirish</a>
  <a href="{% url 'signup' %}">Ro`yxatdan o`tish</a>
</p>
{% endif %} {% endblock content %}
